@font-face {
    font-family: "pixel";
    src: url("../../public/assets/font/Tiny5-Regular.ttf");
  }

@font-face {
  font-family:"Oleo Bold";
  src: url("../../public/assets/font/OleoScript-Bold.ttf");
}

@font-face {
  font-family:"Oleo Regular";
  src: url("../../public/assets/font/OleoScript-Regular.ttf");
}