@font-face {
    font-family: "pixel";
    src: url("../../public/assets/font/Tiny5-Regular.ttf");
  }

@font-face {
  font-family:"serif-regular";
  src: url("../../public/assets/font/DMSerifText-Regular.ttf");
}

@font-face {
  font-family:"serif-italic";
  src: url("../../public/assets/font/DMSerifText-Italic.ttf");
}