.header {
  width: 100%;
  height: 12.5rem;
  background-color: rgb(156, 126, 126);
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nav__logo {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0 0 0;
}

.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

.nav__home,
.nav__businesses,
.nav__ratings {
  padding: 0.5rem 1rem;
  width: 50%;
  text-align: center;
  &:hover {
    color: white;
    border-radius: 1.5625rem;
  }
}
