.drink-container {
    display: flex;
    flex-direction: column;
    list-style: none;
}

//specifically target the images on ratings page
div > div.drink-img-container > img {
    width:150px;
    height: 150px;
}

.drink-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

