@use "./styles/_variables" as *;

.App {
  text-align: center;
  font-family: "serif-regular";
  background: 
  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
  url("../public/assets/images/background1.jpg") center / cover no-repeat;
}

.App-link {
  color: #61dafb;
}
