.container {
  display: flex;
  justify-content: space-between;
 // align-items: center;
  height: 100vh;
  //background: 
  //linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
  //url("../../../public/assets/images/background1.jpg") center / cover no-repeat;
  background-color: rgba(97, 82, 82, 0.5) ;
}

.left-container {
  flex:1;
  width: 33%;
  align-items: center;
  display: flex;
}
.right-container {
  flex: 1;
  width: 33%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centered-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drink-container {
  position: relative;
}

.drink-img {
  width: 30vw;
  height: auto;
  z-index: 1000;
}

.spinning-circle {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  border-radius: 50%;
  animation: spin 10s linear infinite;
  z-index: -2000;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.highest-rated{
    &-title {
    font-size: 40px;
    }
    &-name {
        font-size: 30px;
    }
    &-shop {
        font-size: 30px;
    }
}

.No1-img {
  width: 25vw;
}